@using JMProject.Model.Sys;
@using JMProject.Common
@using JMProject.Web.Core;
@model JMProject.Model.SalePlan
@{
    ViewBag.Title = "计划管理";
    Layout = "~/Views/Shared/_LayoutEedit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
<script type="text/javascript">
    function Bind() {
        //业务员
        $('#Saler').combobox({
            url: '/System/GetComb_Users',
            valueField: 'Id',
            textField: 'ZsName',
            onLoadSuccess: function (node, data) {
                $("#Saler").combobox('setValue', '@Model.Saler');
            }
        });
    };

    $(function () {
        Bind();

        $("#YearTarget").numberbox({
            'onChange': function (newValue, oldValue) {
                $("#MonthTarget").numberbox('setValue', newValue / 12);
            }
        });

        /*保持*/
        $("#btnSave").click(function () {
            if ($("#CreateForm").form('validate')) {
                var postData = {
                    Id: $("#Id").val()
                    , Year: $("input[name='Year']").val()
                    , Saler: $("#Saler").combobox('getValue')
                    , YearTarget: $("input[name='YearTarget']").val()
                    , MonthTarget: $("input[name='MonthTarget']").val()
                    , AddedTarget: $("input[name='AddedTarget']").val()
                    , AddedTarget1: $("input[name='AddedTarget1']").val()
                    , AddType: $("#AddType").val()
                };

                $.ajax({
                    url: "/Sale/Create_SalePlan",
                    type: "Post",
                    data: postData,
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(false);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        /*返回*/
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>
<input id="AddType" name="AddType" type="hidden" value="@ViewBag.AddType" />
<input id="Id" name="Id" type="hidden" value="@Model.Id" />
<div class="divtool bgb">
    @Html.ToolButton("btnSave", "icon-save", Suggestion.Save, false)
    @Html.ToolButton("btnReturn", "icon-return", Suggestion.Return, false)
</div>
<form id="CreateForm" method="post">
    <table class="form_table">
        <tbody>
            <tr style="height:35px;">
                <th style="width:140px;">
                    计划年度
                </th>
                <td>
                    <input type="text" name="Year" class="easyui-validatebox Wdate" required="true" value="@Model.Year" onClick="WdatePicker({el:this,dateFmt:'yyyy'})">
                </td>
            </tr>
            <tr style="height:35px;">
                <th>
                    业务员名称
                </th>
                <td>
                    <input type="text" id="Saler" name="Saler" type="combobox" class="easyui-combobox" editable="false" value="@Model.Saler" />
                </td>
            </tr>
            <tr style="height:35px;">
                <th>
                    本年指标
                </th>
                <td>
                    <input type="text" id="YearTarget" name="YearTarget" class="easyui-validatebox easyui-numberbox" required="true" style="text-align: right;" min="0" max="100000000" precision="2" value="@Model.YearTarget" />
                </td>
            </tr>
            <tr style="height:35px;">
                <th>
                    分月指标
                </th>
                <td>
                    <input type="text" id="MonthTarget" name="MonthTarget" class="easyui-validatebox easyui-numberbox" readonly="readonly" required="true" style="text-align: right;" min="0" max="100000000" precision="2" value="@Model.MonthTarget" />
                </td>
            </tr>
            <tr style="height:35px;">
                <th>
                    分月新增客户(财务)
                </th>
                <td>
                    <input type="text" id="AddedTarget" name="AddedTarget" class="easyui-validatebox easyui-numberbox" required="true" style="text-align: right;" min="0" max="100000000" precision="0" value="@Model.AddedTarget" />
                </td>
            </tr>
            <tr style="height:35px;">
                <th>
                    分月新增客户(内控)
                </th>
                <td>
                    <input type="text" id="AddedTarget1" name="AddedTarget1" class="easyui-validatebox easyui-numberbox" required="true" style="text-align: right;" min="0" max="100000000" precision="0" value="@Model.AddedTarget1" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
