@using JMProject.Model.Sys;
@using JMProject.Common
@using JMProject.Web.Core;
@{
    ViewBag.Title = "回访管理";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
<script src="@Url.Content("~/Content/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
<div class="divtool" style="font-size: 12px; height: 30px;">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr style="height: 28px;">
            <td style="min-width: 60px">
                <span>回访年度</span>
            </td>
            <td style="min-width: 110px">
                <input id="txtOrderDateS" type="text" onclick="WdatePicker({dateFmt:'yyyy',readOnly:true,isShowClear:false})"
                    style="font-size: 12px; width: 90px;" />
            </td>
            <td style="min-width: 60px">
                <span>回访类型</span>
            </td>
            <td style="min-width: 130px">
                <select class="easyui-combobox" name="flag" id="ddlflag" style="width: 120px;" panelheight="320"
                    editable="false">
                    <option value="0">上门</option>
                    <option value="1">电话</option>
                    <option value="2">电话-财务软件</option>
                    <option value="3">电话-内控客户</option>
                </select>
            </td>
            <td style="min-width: 60px">
                <span>单位类型</span>
            </td>
            <td style="min-width: 130px">
                <select class="easyui-combobox" name="flag" id="ddldwlx" style="width: 120px;" panelheight="320"
                    editable="false">
                    <option value="">全部</option>
                    <option value="000035">主管单位</option>
                    <option value="000036">一般单位</option>
                </select>
            </td>
            <td style="min-width: 60px">
                <span>回访状态</span>
            </td>
            <td style="min-width: 130px">
                <select class="easyui-combobox" name="flag" id="ddlhfflag" style="width: 120px;"
                    panelheight="320" editable="false">
                    <option value="">全部</option>
                    <option value="0">未回访</option>
                    <option value="1">已回访</option>
                </select>
            </td>
            <td style="min-width: 60px">
                所属行业
            </td>
            <td style="min-width: 190px">
                <input id="IndustryID" class="easyui-combobox" style="width: 180px;" editable="false" />
            </td>
            <td style="min-width: 60px">
                <span>所属地区</span>
            </td>
            <td style="min-width: 190px">
                <input id="DiQuS" class="easyui-combobox" style="width: 180px;" editable="false" />
            </td>
            <td style="min-width: 60px">
                <span>负责人</span>
            </td>
            <td style="min-width: 120px">
                <input id="userS" class="easyui-combobox" style="width: 110px;" editable="false" />
            </td>
            <td>
                <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="reload()">查 询</a>
            </td>
        </tr>
    </table>
</div>
<div class="divtool">
    @Html.ToolButton("btnCreate", "icon-add", "生成", true)
    @Html.ToolButton("btnAdd", "icon-add", "添加", false)
    @Html.ToolButton("btnDelete", "icon-remove", Suggestion.Delete, true)
    @Html.ToolButton("btnHFD", "icon-edit", "回访单", false)
    <input id="Pid" name="Pid" type="hidden" />
    <input id="hiduserS" name="hiduserS" type="hidden" value="@ViewBag.userS" />
</div>
<table id="grid">
</table>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false,collapsible:false,maximizable:false">
</div>
<!-- 查看历史信息 -->
<div id="dlgOrder" class="easyui-dialog" style="width: 800px; height: 500px; padding: 5px" closed="true">
    <table id="gridOrder"></table>
</div>
<script type="text/javascript">
    var offwidth = 10;
    var offheight = 65;
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    };
    function frameReturnByReload(flag) {
        if (flag)
            $("#grid").datagrid('load');
        else
            $("#grid").datagrid('reload');
    };
    function frameReturnByMes(mes) {
        $.messageBox5s('@Suggestion.Tip', mes);
    };
    function frameReturnByMesAlert(mes) {
        $.show_alert('@Suggestion.Tip', mes);
    };
    $(function () {
        $("#txtOrderDateS").val(new Date().getFullYear())
        reload();
        $(window).resize(function () {
            $('#grid').datagrid('resize', {
                width: $(window).width() - offwidth,
                height: $(window).height() - offheight
            }).datagrid('resize', {
                width: $(window).width() - offwidth,
                height: $(window).height() - offheight
            });
        });
        $("#btnSearch").click(function () {
            reload();
        });
        $("#btnCreate").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/Sale/Create_CrsVisit?Id=" + $("#Pid").val() + "&AddType=True'></iframe>");
            $("#modalwindow").window({ title: '生成', width: 400, height: 400, iconCls: 'icon-add' }).window('open');
        });
        $("#btnAdd").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/Sale/Add_CrsVisit?Vyear=" + $("#txtOrderDateS").val() + "&VisitType=" + $("#ddlflag").combobox('getValue') + "&Saler=" + $("#userS").combobox('getValue') + "'></iframe>");
            $("#modalwindow").window({ title: '选择', width: 1000, height: 600, iconCls: 'icon-add' }).window('open');
        });

        $("#btnHFD").click(function () {
            var row = $('#grid').datagrid('getSelected');
            if (row != null) {
                if (row.Falg == "1") {
                    $.messager.confirm('@Suggestion.Tip', '已回访单据确认要修改吗?', function (r) {
                        if (r) {
                            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0' src='/Sale/HFD_CrsVisit?Id=" + row.Id + "&Ieguid=" + guid() + "'></iframe>");
                            $("#modalwindow").window({ title: '@Suggestion.Edit', width: 500, height: 300, iconCls: 'icon-edit' }).window('open');
                        }
                    });
                }
                else {
                    $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0' src='/Sale/HFD_CrsVisit?Id=" + row.Id + "&Ieguid=" + guid() + "'></iframe>");
                    $("#modalwindow").window({ title: '@Suggestion.Edit', width: 500, height: 300, iconCls: 'icon-edit' }).window('open');
                }
            } else { $.messageBox5s('@Suggestion.Tip', '@Suggestion.PlaseChoose'); }
        });

        $("#btnDelete").click(function () {
            var row = $('#grid').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm('@Suggestion.Tip', '@Suggestion.YouWantToDelete', function (r) {
                    if (r) {
                        $.post("/Sale/Delete_CrsVisit?Id=" + row.Id, function (data) {
                            if (data.type == 1) {
                                frameReturnByReload(false);
                            }
                            $.messageBox5s('@Suggestion.Tip', data.message);
                        }, "json");

                    }
                });
            } else { $.messageBox5s('@Suggestion.Tip', '@Suggestion.PlaseChoose'); }
        });

        //地区
        $("#DiQuS").combobox({
            url: '/Basic/Get_CombCity?pid=',
            multiple: true,
            panelHeight: 600,
            valueField: 'ID',
            textField: 'Name',
            groupField: 'CityPLName'
        }).combobox('clear');

        //行业
        $('#IndustryID').combobox({
            url: '/Basic/GetComb_DictionaryItem?DicID=001&All=false',
            valueField: 'ItemID',
            textField: 'ItemName',
            multiple: true,
            onLoadSuccess: function (node, data) {

            }
        }).combobox('clear');

        //业务员
        $('#userS').combobox({
            url: '/System/GetComb_Users?All=true',
            valueField: 'Id',
            textField: 'ZsName',
            onLoadSuccess: function (node, data) {
                if ($("#hiduserS").val().length > 0) {
                    $("#userS").combobox('setValue', $("#hiduserS").val());
                    $("#userS").combobox("disable");
                }
                reload();
            }
        });
    });


    function reload() {
        var queryData = {
            Vyear: $("#txtOrderDateS").val()
            , DiQu: $("#DiQuS").combobox('getValues') + ""
            , Industry: $("#IndustryID").combobox('getValues') + ""
            , VisitType: $("#ddlflag").combobox('getValue') + ""
            , Saler: $("#userS").combobox('getText') + ""
            , Falg: $("#ddlhfflag").combobox('getValue') + ""
            , CustomerGrade: $("#ddldwlx").combobox('getValue') + ""
        };
        InitGrid(queryData);
        $('#grid').datagrid('clearSelections');
    };

    function InitGrid(queryData) {
        $('#grid').datagrid({
            url: '/Sale/GetData_CrsVisit',
            width: $(window).width() - offwidth,
            methord: 'post',
            height: $(window).height() - offheight,
            fitColumns: false,
            idField: 'Id',
            sortName: 'Id',
            sortOrder: 'asc',
            pagination: true,
            pageSize: 20,
            pageList: [15, 20, 30, 40, 50],
            striped: true, //奇偶行是否区分
            singleSelect: true, //单选模式
            queryParams: queryData,
            columns: [[
                { field: 'Id', title: '编号', width: 100, halign: 'center', hidden: true },
                { field: 'Vyear', title: '回访年度', width: 100, halign: 'center', hidden: true },
                { field: 'Saler', title: '负责人', width: 70, halign: 'center' },
                { field: 'CityName', title: '地区', width: 100, halign: 'center' },
                { field: 'CustomerGrade', title: '主管单位', width: 80, halign: 'center',
                    formatter: function (value, row, index) {
                        if (value == '000035') {
                            return "是";
                        }
                        else {
                            return "否";
                        }
                    }
                },
                { field: 'Name', title: '单位名称', width: 200, halign: 'center',
                    formatter: function (value, row, index) {
                        return "<a href=\"javascript:void(0);\" onclick=\"ShowSale('" + row.CustomID + "','" + row.Name + "');\">" + value + "</a>";
                    }
                },
                { field: 'HyName', title: '行业', width: 100, halign: 'center' },
                { field: 'Lxr', title: '联系人', width: 100, halign: 'center' },
                { field: 'Tel', title: '手机号', width: 100, halign: 'center' },
                { field: 'Zw', title: '职务', width: 100, halign: 'center' },
                { field: 'VisitType', title: '回访类型', width: 90, halign: 'center',
                    formatter: function (value, row, index) {
                        if (value == '0') {
                            return "上门";
                        }
                        else if (value == '2') {
                            return "电话-财务软件";
                        }
                        else if (value == '3') {
                            return "电话-内控客户";
                        }
                    }
                },
                { field: 'ByearPay', title: '当年消费', width: 100, halign: 'center' },
                { field: 'UpyearPay', title: '上年消费', width: 100, halign: 'center' },
            //{ field: 'SumPay', title: '累计消费', width: 100, halign: 'center' },
                {field: 'VisitDate', title: '回访日期', width: 100, halign: 'center' },
                { field: 'VisitGood', title: '回访物品', width: 100, halign: 'center' },
                { field: 'Remark', title: '描述', width: 300, halign: 'center' }

            ]]
        });
    }

    function ShowSale(Cid, Cname) {
        $("#dlgOrder").dialog("open").dialog('setTitle', Cname + ' 历年上门记录');
        reloadOrder(Cid);
    }

    function reloadOrder(Cid) {
        var queryData = {
            SaleCustomId: Cid
        };
        InitGridOrder(queryData);
        $('#gridOrder').datagrid('clearSelections');
    };

    function InitGridOrder(queryData) {
        $('#gridOrder').datagrid({
            url: '/Sale/GetData_CrsVisit_His',
            width: 780,
            methord: 'post',
            height: 455,
            fitColumns: false,
            idField: 'Id',
            sortName: 'Vyear',
            sortOrder: 'desc',
            pagination: true,
            pageSize: 20,
            pageList: [15, 20, 30, 40, 50],
            striped: true, //奇偶行是否区分
            singleSelect: true, //单选模式
            queryParams: queryData,
            columns: [[
                { field: 'Id', title: '编号', width: 100, halign: 'center', hidden: true },
                { field: 'Vyear', title: '回访年度', width: 100, halign: 'center'},
                { field: 'VisitType', title: '回访类型', width: 90, halign: 'center',
                    formatter: function (value, row, index) {
                        if (value == '0') {
                            return "上门";
                        }
                        else if (value == '2') {
                            return "电话-财务软件";
                        }
                        else if (value == '3') {
                            return "电话-内控客户";
                        }
                    }
                },
                {field: 'VisitDate', title: '回访日期', width: 100, halign: 'center' },
                { field: 'VisitGood', title: '回访物品', width: 100, halign: 'center' },
                { field: 'Remark', title: '描述', width: 300, halign: 'center' }

            ]]
        });
    };
</script>
