@using JMProject.Model.Sys;
@using JMProject.Common
@using JMProject.Web.Core;
@model JMProject.Model.BasicCityPL
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutEedit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
<style type="text/css">
    .form_table th
    {
        text-align: left;
        text-indent: 0.5em;
    }
</style>
<script type="text/javascript">
    /*下拉框填充*/
    function bindGroup() {
        //省份
        $('#PidID').combobox({
            url: '/Basic/Get_CombProvince',
            valueField: 'Pid',
            textField: 'Name',
            onShowPanel: function () {
                // 动态调整高度  
                $(this).combobox('panel').height(150);
            },
            onLoadSuccess: function (node, data) {
                if ('@Model.Pid' == "") {
                    var vdata = $('#PidID').combobox('getData');
                    $("#PidID").combobox('select', vdata[0].Pid);
                }
                else {
                    $("#PidID").combobox('setValue', '@Model.Pid');
                }
            }
        });
    }

    $(function () {
        bindGroup();

        /*保持*/
        $("#btnSave").click(function () {
            if ($("#CreateForm").form('validate')) {
                var postData = {
                    Pid: $("#PidID").combobox('getValue')
                    , ID: $("#ID").val()
                    , Name: $("input[name='Name']").val()
                };

                $.ajax({
                    url: "/Basic/Create_BasicCityPL",
                    type: "Post",
                    data: postData,
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReloadPl(false);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        /*返回*/
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>
<div class="divtool bgb">
    @Html.ToolButton("btnSave", "icon-save", Suggestion.Save, false)
    @Html.ToolButton("btnReturn", "icon-return", Suggestion.Return, false)
</div>
<input id="ID" name="ID" type="hidden" value="@Model.ID" />
<form id="CreateForm" method="post">
<table class="form_table">
    <tbody>
        <tr>
            <th>
                省份
            </th>
            <td>
                <input id="PidID" name="Pid" type="easyui-combobox" style="width: 358px;" class="easyui-combobox"
                    required="true" editable="false" />
            </td>
            <td style="width:95px;">
            </td>
        </tr>
        <tr>
            <th>
                名称
            </th>
            <td colspan="2">
                <input type="text" name="Name" class="easyui-validatebox" maxlength="30" required="true" style="width:350px;" value="@Model.Name" />
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
</form>