@using JMProject.Model.Sys;
@using JMProject.Common
@using JMProject.Web.Core;
@model JMProject.Model.View.View_FinSalesCommission
@{
    ViewBag.Title = "提成设置";
    Layout = "~/Views/Shared/_LayoutEedit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
<script type="text/javascript">
    function bindGroup() {
        $('#TypeId').combotree({
            url: '/Financial/GetTree_FinProductType?all=False',
            valueField: 'id',
            textField: 'text',
            onLoadSuccess: function (node, data) {
                $("#TypeId").combotree('setValue', '@Model.TypeId');
            }
        });
    }
    $(function () {
        bindGroup();
        /*保持*/
        $("#btnSave").click(function () {
            if ($("#CreateForm").form('validate')) {
                var postData = {
                    Id: $("#Id").val()
                    , TypeId: $("input[name='TypeId']").val()
                    , Unfinished: $("input[name='Unfinished']").val()
                    , Finished: $("input[name='Finished']").val()
                    , Nonsalesman: $("input[name='Nonsalesman']").val()
                };

                $.ajax({
                    url: "/Financial/Create_FinSalesCommission",
                    type: "Post",
                    data: postData,
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(false);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });
        /*返回*/
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });
    });
</script>
<input id="Id" name="Id" type="hidden" value="@Model.Id" />
<div class="divtool bgb">
    @Html.ToolButton("btnSave", "icon-save", Suggestion.Save, false)
    @Html.ToolButton("btnReturn", "icon-return", Suggestion.Return, false)
</div>
<form id="CreateForm" method="post">
    <table class="form_table">
        <tbody>
            <tr>
                <th>
                    产品分类
                </th>
                <td>
                    <input type="text" id="TypeId" name="TypeId" class="easyui-combotree" maxlength="30" required="true" />
                </td>
            </tr>
            <tr>
                <th>
                    未完成比例
                </th>
                <td>
                    <input type="text" name="Unfinished" class="easyui-validatebox easyui-numberbox" required="true" style="text-align: right;" min="0" max="100" precision="2" value="@Model.Unfinished" />%
                </td>
            </tr>
            <tr>
                <th>
                    完成比例
                </th>
                <td>
                    <input type="text" name="Finished" class="easyui-validatebox easyui-numberbox" required="true" style="text-align: right;" min="0" max="100" precision="2" value="@Model.Finished" />%
                </td>
            </tr>
            <tr>
                <th>
                    非销售员比例
                </th>
                <td>
                    <input type="text" name="Nonsalesman" class="easyui-validatebox easyui-numberbox" required="true" style="text-align: right;" min="0" max="100" precision="2" value="@Model.Nonsalesman" />%
                </td>
            </tr>
        </tbody>
    </table>
</form>