@using JMProject.Model.Sys;
@using JMProject.Common
@using JMProject.Web.Core;
@{
    ViewBag.Title = "产品管理";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
<div class="divtool" style="font-size: 12px; height: 30px;">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr style="height: 28px;">
            <td style="min-width: 60px">
                <span>序列号：</span>
            </td>
            <td style="min-width: 200px">
                <input id="txtSearch" class="easyui-textbox" style="width: 190px;" />
            </td>
            <td>
                <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="reload()">查 询</a>
            </td>
        </tr>
    </table>
</div>
    <span></span>
<div class="divtool">
    @Html.ToolButton("btnCreate", "icon-add", Suggestion.Create, perm, "Create", false)
    @Html.ToolButton("btnEdit", "icon-edit", Suggestion.Edit, perm, "Edit", false)
    @Html.ToolButton("btnDelete", "icon-remove", Suggestion.Delete, perm, "Delete", false)
    <input id="Pid" name="Pid" type="hidden" />
</div>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="width: 230px;vertical-align:top;border:1px solid #95B8E7;padding-top:3px;">
            <ul id="tree"></ul>
        </td>
        <td style="vertical-align:top;padding-left:5px;">
            <table id="grid"></table>
        </td>
    </tr>
</table>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false,collapsible:false,maximizable:false"></div>
<div id="modalwindowPro" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false,collapsible:false,maximizable:false"></div>
<script type="text/javascript">
    var offwidth = 250;
    var offheight = 65;
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    };
    function frameReturnByReload(flag) {
        if (flag)
            $("#grid").datagrid('reload');
        else
            $("#grid").datagrid('reload');
    };
    function ChooseProduct(rows) {
        $("#modalwindowPro").window('close');
        window.frames[0].AddRows(rows);
    };
    function OpenProduct() {
        $("#modalwindowPro").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/Financial/FinProductModularChoose'></iframe>");
        $("#modalwindowPro").window({ title: '选择模块', width: 1000, height: 610, iconCls: 'icon-add' }).window('open');
    };
    function frameReturnByMes(mes) {
        $.messageBox5s('@Suggestion.Tip', mes);
    };

    $(function () {
        InitTree();
        $(window).resize(function () {
            $('#grid').datagrid('resize', {
                width: $(window).width() - offwidth,
                height: $(window).height() - offheight
            }).datagrid('resize', {
                width: $(window).width() - offwidth,
                height: $(window).height() - offheight
            });
        });
        $("#btnCreate").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/Financial/Create_FinProduct?PId=" + $("#Pid").val() + "&AddType=True'></iframe>");
            $("#modalwindow").window({ title: '@Suggestion.Create', width: 800, height: 535, iconCls: 'icon-add' }).window('open');
        });
        $("#btnEdit").click(function () {
            var row = $('#grid').datagrid('getSelected');
            if (row != null) {
                $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0' src='/Financial/Create_FinProduct?Id=" + row.Id + "&Ieguid=" + guid() + "'></iframe>");
                $("#modalwindow").window({ title: '@Suggestion.Edit', width: 800, height: 535, iconCls: 'icon-edit' }).window('open');
            } else { $.messageBox5s('@Suggestion.Tip', '@Suggestion.PlaseChoose'); }
        });
        $("#btnDelete").click(function () {
            var row = $('#grid').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm('@Suggestion.Tip', '@Suggestion.YouWantToDelete', function (r) {
                    if (r) {
                        $.post("/Financial/Delete_FinProduct?Id=" + row.Id, function (data) {
                            if (data.type == 1) {
                                frameReturnByReload(false);
                            }
                            $.messageBox5s('@Suggestion.Tip', data.message);
                        }, "json");

                    }
                });
            } else { $.messageBox5s('@Suggestion.Tip', '@Suggestion.PlaseChoose'); }
        });
    });

    function InitTree() {
        $('#tree').tree({
            url: '/Financial/GetTree_FinProductType?all=true',
            onlyLeafCheck: true,
            onLoadSuccess: function (node, data) {
                $("#Pid").val(data[0].id);
                reload();
            },
            onSelect: function (node) {
                $("#Pid").val(node.id);
                reload();
            }
        });
    };

    function reload() {
        var queryData = {
            Pid: $("#Pid").val(),
            Name: $("#txtSearch").val()
        };
        InitGrid(queryData);
        $('#grid').datagrid('clearSelections');
    };

    function InitGrid(queryData) {
        $('#grid').datagrid({
            url: '/Financial/GetData_FinProduct',
            width: $(window).width() - offwidth,
            methord: 'post',
            height: $(window).height() - offheight,
            fitColumns: false,
            idField: 'Id',
            sortName: 'Id',
            sortOrder: 'asc',
            pageSize: 20,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: true, //单选模式
            queryParams: queryData,
            columns: [[
                { field: 'Id', title: '编号', width: 100 },
                { field: 'TypeName', title: '产品分类', width: 100 },
                { field: 'CusName', title: '客户名称', width: 200 },
                { field: 'Name', title: '模块名称', width: 300 },
                { field: 'Spec', title: '入库单编号', width: 90 },
                { field: 'Pkey', title: '序列号', width: 70 },
                { field: 'Marketprice', title: '市场定价', width: 70 },
                { field: 'Costprice', title: '成本价', width: 70 },
                { field: 'InCount', title: '总入库数', width: 60 },
                { field: 'OutCount', title: '总出库数', width: 60 },
                { field: 'stock', title: '库存数', width: 60 },
                { field: 'SalerName', title: '经手人', width: 60 },
                { field: 'Remake', title: '描述', width: 200 },
            ]]
        });
    }
</script>
