@model JMProject.Model.Mobile.View_SaleOrder_Mobile
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_LayoutMui.cshtml";
}
<style>
    .list-block
    {
        margin: 0.05rem 0;
    }
    .input
</style>
<input id="hid_id" type="hidden" value="@Model.Id" />
<input id="hid_cid" type="hidden" value="@Model.SaleCustomId" />
<div id="page-createorder" class="page">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="/Mobile/Index">
            <span class="icon icon-left"></span>
        </a>
        <h1 class='title'>合同管理</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="OrderDate" type="date" placeholder="创建日期" value="@Model.OrderDate">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="Name" type="text" placeholder="客户全称" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="c1" name="Saler" class="chkSaler" type="radio" value="000004" jvalue="刘" @(Model.Saler.IndexOf("000004") >= 0 ? "checked='checked'" : "") /><label for="c1">刘</label>
                                <input id="c2" name="Saler" class="chkSaler" type="radio" value="000005" jvalue="李" @(Model.Saler.IndexOf("000005") >= 0 ? "checked='checked'" : "") /><label for="c2">李</label>
                                <input id="c3" name="Saler" class="chkSaler" type="radio" value="000006" jvalue="韩" @(Model.Saler.IndexOf("000006") >= 0 ? "checked='checked'" : "") /><label for="c3">韩</label>
                                <input id="c4" name="Saler" class="chkSaler" type="radio" value="000003" jvalue="邹" @(Model.Saler.IndexOf("000003") >= 0 ? "checked='checked'" : "") /><label for="c4">邹</label>
                                <input id="c5" name="Saler" class="chkSaler" type="radio" value="000002" jvalue="宋" @(Model.Saler.IndexOf("000002") >= 0 ? "checked='checked'" : "") /><label for="c5">宋</label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input type="text" id="picker_OrderType" placeholder="合同类别" value="@Model.OrderTypeName"/>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input type="text" id="picker_product" placeholder="合同产品" value="@Model.ItemNames"/>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="ItemCount" type="text" placeholder="数量" value="@Model.ItemCount">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="ItemPrice" type="text" placeholder="单价" value="@Model.ItemPrice">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="PresentMoney" type="text" placeholder="礼品费用" value="@Model.PresentMoney">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input id="OtherMoney" type="text" placeholder="其他费用" value="@Model.OtherMoney">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="align-top">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <textarea name="Remake">@Model.Remake</textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-50">
                    <a href="/Mobile/Index" class="button button-big button-fill button-danger back">返回</a></div>
                <div class="col-50">
                    <a href="#" class="button button-big button-fill button-success create-orders">提交</a></div>
            </div>
        </div>
    </div>
</div>
