@using JMProject.Model.Sys;
@using JMProject.Common
@using JMProject.Web.Core;
@model JMProject.Model.SysModule
@{
    ViewBag.Title = "维护菜单";
    Layout = "~/Views/Shared/_LayoutEedit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
<script type="text/javascript">
    $(function () {
        /*保持*/
        $("#btnSave").click(function () {
            if ($("#CreateForm").form('validate')) {
                var postData = {
                    Id: $("input[name='Id']").val()
                    , Name: $("input[name='Name']").val()
                    , Icon: $("#btnicon").attr("iconCls")
                    , Url: $("input[name='Url']").val()
                    , Sort: $("input[name='Sort']").val()
                    , _parentId: $("input[name='_parentId']").val()
                    , AddType: $("#AddType").val()
                };

                $.ajax({
                    url: "/System/Create_SysModule",
                    type: "Post",
                    data: postData,
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes(data.message);
                            window.parent.frameReturnByReload(false);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes(data.message);
                        }
                    }
                });
            }
            return false;
        });

        /*返回*/
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });

        $("#btnicon").click(function (e) {
            window.parent.showBox(e.pageX, e.pageY);
            e.stopPropagation();
        });

        $(document).on("click", function () {
            window.parent.hideBox();
        });
    });

    
</script>

<input id="AddType" name="AddType" type="hidden" value="@ViewBag.AddType" />
<div class="divtool bgb">
    @Html.ToolButton("btnSave", "icon-save", Suggestion.Save,false)
    @Html.ToolButton("btnReturn", "icon-return", Suggestion.Return,false)
</div>
<form id="CreateForm" method="post">
    <table class="form_table">
        <tbody>
            <tr>
                <th>
                    编号
                </th>
                <td>
                    <input type="text" name="Id" class="easyui-validatebox" @(ViewBag.AddType ? "" : "disabled") maxlength="10" required="true" value="@Model.Id" />
                </td>
            </tr>
            <tr>
                <th>
                    名称
                </th>
                <td>
                    <input type="text" name="Name" class="easyui-validatebox" maxlength="30" required="true" value="@Model.Name" />
                </td>
            </tr>
            <tr>
                <th>
                    图标
                </th>
                <td>
                    <a id="btnicon" class="easyui-linkbutton" plain="true" iconCls="@Model.Icon"></a>
                </td>
            </tr>
            <tr>
                <th>
                    链接
                </th>
                <td>
                    <input type="text" name="Url" class="easyui-validatebox" maxlength="50" required="true" value="@Model.Url" />
                </td>
            </tr>
            <tr>
                <th>
                    排序
                </th>
                <td>
                    <input type="text" name="Sort" class="easyui-validatebox" maxlength="4" required="true" value="@Model.Sort" />
                </td>
            </tr>
            <tr>
                <th>
                    上级编号
                </th>
                <td>
                    <input type="text" name="_parentId" class="easyui-validatebox" maxlength="2" value="@Model._parentId" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
